body{
    background-color: #efefef;
}

.main{
    margin: 30px;
    background-color: white;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    height: 40px;
    width: 40px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.chatliu-menu{
    color: #999;
    font-size: 13px;
}

.menu{
    color: #999;
    margin-top: 5px;
}

.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .icon:hover{
    color: #2aabd2;
}

.menucolor{
    color: #2aabd2;
}