<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ChatLiu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--引入css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/chatliu.css">

    <!--引入js-->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>


</head>
<body>

<div th:insert="~{navigation::nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发布</h2>
            <hr>

            <div class="media" th:each="question:${pageResultlist.items}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{/question/{id}(id = ${question.id})}" th:text="${question.title}"></a>
                    </h4>
                    <span class="text-desc"><span th:text="${question.commentCount}"></span>个回复 •
                        <span th:text="${question.viewCount}"></span> 次浏览 • <span
                                th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                    </span>

                </div>
            </div>

            <nav aria-label="...">
                <nav aria-label="Page navigation" style="float: right">
                    <ul class="pagination pager">
                        <li>
                            <a th:if="${pageResultlist.pageNum}>1" th:href="@{/(page=${pageResultlist.pageNum}-1)}"
                               aria-label="Previous">
                                <span aria-hidden="true">&larr;</span>Older
                            </a>
                        </li>

                        <li>
                            <a th:href="@{/(page=1)}">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>

                        <th:block th:if="${pageResultlist.totalPage<7}">
                            <li th:each="i:${#numbers.sequence(1,pageResultlist.totalPage)}"
                                th:class="${pageResultlist.pageNum == i}?'active':''">
                                <a th:href="@{/(page=${i})}" th:text="${i}"></a>
                            </li>
                        </th:block>

                        <th:block th:if="${pageResultlist.totalPage>=7}">
                            <li th:if="${pageResultlist.pageNum<=3}"
                                th:each="i:${#numbers.sequence(1,7)}">
                                <a th:href="@{/(page=${i})}" th:text="${i}"></a>
                            </li>

                            <li th:if="${pageResultlist.pageNum>3 && pageResultlist.pageNum< pageResultlist.totalPage -3}"
                                th:each="i:${#numbers.sequence((pageResultlist.pageNum)-3,(pageResultlist.pageNum)+3)}">
                                <a th:href="@{/(page=${i})}" th:text="${i}"></a>
                            </li>

                            <li th:if="${pageResultlist.pageNum >= pageResultlist.totalPage -3}"
                                th:each="i:${#numbers.sequence(pageResultlist.totalPage -7,pageResultlist.totalPage)}">
                                <a th:href="@{/(page=${i})}" th:text="${i}"></a>
                            </li>
                        </th:block>

                        <li>
                            <a th:href="@{/(page=${pageResultlist.totalPage})}">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>

                        <li>
                            <a th:if="${pageResultlist.pageNum}<${pageResultlist.totalPage}"
                               th:href="@{/(page=${pageResultlist.pageNum}+1)}" aria-label="Next">
                                Newer<span aria-hidden="true">&rarr;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </nav>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
        </div>
    </div>
</div>

</body>
</html>