<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--引入css-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/chatliu.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css">

    <!--引入js-->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/chatliu.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>

</head>
<body>

<div th:insert="~{navigation::nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h4 style="margin-top: 20px"><span th:text="${question.title}"></span></h4>

            <span class="text-desc">
                作者: <span th:text="${question.user.name}"></span> |
                阅读数: <span th:text="${question.viewCount}"></span> |
                发布时间: <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
            </span>

            <!--问题描述-->
            <hr>
            <div id="question-view">
                <textarea style="display:none;" th:text="${question.description}"></textarea>
            </div>
            <script type="text/javascript">
                $(function () {
                    editormd.markdownToHTML("question-view", {
                        emoji:true,
                        tex: true   //开启tex计算公式
                    });
                });
            </script>

            <!--标签-->
            <hr>
            <span class="label label-info" style="margin-right: 10px" th:each="tag:${question.tag.split(',')}">
                <span class="glyphicon glyphicon-tags"></span>
                <span th:text="${tag}"></span>
            </span>

            <!--编辑-->
            <hr>
            <a th:if="${session.user!= null && question.creator == session.user.id}"
               th:href="@{/publish/{id}(id = ${question.id})}" class="chatliu-menu">
                <span class="glyphicon glyphicon-edit" aria-hidden="true">编辑</span>
            </a>

            <!--评论-->
            <hr>
            <h4>
                <span th:text="${question.commentCount}"></span> 个回复
            </h4>
            <div class="media" th:each="comment:${comments}" style="margin-bottom: 10px;border-bottom: 1px solid #eee">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${comment.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body" th:id="${'comment-body-'+comment.id}">
                    <h6 class="media-heading">
                        <span th:text="${comment.user.name}"></span>
                    </h6>
                    <div th:text="${comment.content}"></div>
                    <div class="menu" style="margin-bottom:10px">
                        <span class="glyphicon glyphicon-thumbs-up icon chuizhicenter"></span>
                        <span class="glyphicon glyphicon-comment icon chuizhicenter" style="margin-left: 10px"
                              th:id="${'iconcomment-'+comment.id}" th:data-id="${comment.id}"
                              onclick="collspseComments(this)"></span>
                        <span th:text="${comment.commentCount}+条评论" style="font-size: 13px"></span>
                        <span style="margin-left: 20px;font-size: 13px"
                              th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                    </div>

                    <!--二级评论-->
                    <div class="collapse" th:id="${'comment-'+comment.id}"
                         style="margin-top:10px;margin-bottom:10px;border: 1px solid #eee;padding: 10px;border-radius: 10px">

                        <!--<div class="media" th:each="comment:${comments}" style="margin-bottom: 10px;border-bottom: 1px solid #eee">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-rounded" th:src="${comment.user.avatarUrl}">
                                </a>
                            </div>

                            <div class="media-body">
                                <h6 class="media-heading">
                                    <span th:text="${comment.user.name}"></span>
                                </h6>
                                <div th:text="${comment.content}"></div>

                                <div class="menu">
                                    <span th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                                </div>
                            </div>
                        </div>
-->

                        <div>
                            <input type="text" class="form-control" placeholder="评论一下" th:id="${'input-'+comment.id}">
                            <button type="button" class="btn btn-success" style="margin-left: 870px;margin-top: 10px"
                                    onclick="comment(this)" th:data-id="${comment.id}">评论
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!--回复输入-->
            <h4 style="margin-top: 30px;">提交回复</h4>
            <div id="comment_section">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${session.user != null ? session.user.avatarUrl:'/images/default.png'}">
                        </a>
                    </div>
                    <div class="media-body" style="padding-top: 10px">
                        <h5 class="media-heading">
                            <span th:text="${session.user != null ? session.user.name:'匿名用户'}"></span>
                        </h5>
                    </div>
                </div>
                <input type="hidden" id="question_id" th:value="${question.id}"/>
                <textarea class="form-control " style="margin:10px 0px" rows="6" id="comment_content"></textarea>
                <button type="submit" class="btn btn-primary btn-publish" onclick="post()">回复</button>
            </div>
        </div>


        <!--右边信息-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div>
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body" style="padding-top: 10px">
                        <h5 class="media-heading">
                            <span th:text="${question.user.name}"></span>
                        </h5>
                    </div>
                </div>

                <!--图标-->
                <div>
                    <hr>
                    <h4>持续关注</h4>
                    <img src="/images/chatliu.png" class="img-thumbnail">
                </div>
                <!--相关问题-->
                <div>
                    <hr>
                    <h4>相关问题</h4>
                    <ul style="list-style: none;padding-left: 0px;font-size: 13px;line-height:25px">
                        <li th:each="related:${relatedQuestions}" style="text-decoration: none">
                            <a th:href="@{/question/{id}(id = ${related.id})}" th:text="${related.title}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>